<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Cambiar 'localhost' por el nombre del servidor si es necesario -->
    <add name="RestaurantDB" connectionString="Server=localhost\\SQLEXPRESS;Database=RestaurantDB;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RutaRespaldos" value="" />
    <add key="NombreImpresora" value="" />
    <add key="TimeoutConexion" value="30" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
